{:paths ["src/main" "resources"]
 :deps  {org.clojars.cartesiantheatrics/clj-manifold3d {:mvn/version "1.1.0"}
         metosin/malli {:mvn/version "0.11.0"}}
 :aliases
 {:dev
  {:extra-deps
   {org.clojars.cartesiantheatrics/manifold3d$linux-TBB-x86_64 {:mvn/version "2.0.3"}}}

  :test
  {:extra-paths ["test/main"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.88.1376"}
                 org.clojure/clojure {:mvn/version "1.11.2"}}
   :main-opts   ["-m" "kaocha.runner"]}

  :deploy
  {:extra-paths ["build"]
   :extra-deps {badigeon/badigeon {:mvn/version "1.7"}
                org.clojure/clojure {:mvn/version "1.11.1"}}}}}
